# Send a LIPC event to notify that something changed in the soc-audio device
ACTION=="change", DRIVER=="soc-audio", SUBSYSTEM=="platform", RUN+="/usr/local/bin/lipc-send-event com.doppler.socaudio socAudioChange"
